<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User Page</title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- <%= JSON.stringify(userEdit) %> -->
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create User</a>
    </div>

    <div class="form-add-new">
      <form action="/delete-user" method="post">
        <fieldset>
          <legend>Delete user</legend>
          <div class="input-group d-none">
            <label>ID</label>
            <input type="text" name="userId" value="<%= userEdit.id %>" />
          </div>
          <div class="input-group">
            <label>Bạn có thật sự muốn xoá tài khoản này ?</label>
            <input type="text" name="email" value="<%= userEdit.email %>" />
          </div>

          <div>
            <button>Confirm</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
