<!-- template.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>User Information</h1>
    <p>Name: <%= user.name %></p>
    <p>Age: <%= user.age %></p>
    <p>City: <%= user.city %></p>

    <div>
      <img class="sontung" src="/image/anh1.png" alt="lỗi" />
    </div>
  </body>
</html>
